;.editorconfig

root = true

[**.js]
indent_style = space
indent_size = 4
max_char = 80
max_line_length = 80
trim_trailing_whitespace = true

[**.json]
indent_style = space
indent_size = 4
max_line_length = 80
trim_trailing_whitespace = true

[**.jsx]
e4x = true
indent_style = space
indent_size = 4
max_line_length = 80
trim_trailing_whitespace = true

[**.css]
indent_style = space
indent_size = 4
max_line_length = 80
trim_trailing_whitespace = true

[**.html]
indent_style = space
indent_size = 2 
wrap_line_length = 60
trim_trailing_whitespace = true
wrap_attributes_indent_size = 2
wrap_attributes = force
brace_style = expand
